.Toolbar {
    height: 88px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 2px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Cart {
    width: 80px;
    height: 30px;
    padding: 5px;
    font-family: "Cera Condensed Pro";
    font-size: 20px;
    color: #FFFFFF;
    background: #E4002B;
    border-radius: 18px;
    cursor: pointer;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}