.DrawerToggle {
    width: 16px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;
    box-sizing: border-box;
}

.DrawerToggle div {
    width: 100%;
    height: 2px;
    background-color: black;
}

.MiddleLine {
    width: 62.5%;
}

/* @media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
} */