.Button {
    width: 146px;
    height: 48px;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: "Abel";
    font-size: 16px;
}

.Active {
    color: #FFFFFF;
    background-color: #E4002B;
    border: none;
    border-radius: 4px;
}

.Inactive {
    color: #9D9D9D;
    background-color: #F7F6F5;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}